<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- {% include head-custom-google-analytics.html %} --> 

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- link rel="icon" type="image/png" href="/2026/ico/favicon-96x96.png" sizes="96x96" /-->
<link rel="icon" type="image/svg+xml" href="/2026/ico/favicon.svg" />
<!-- link rel="shortcut icon" href="/2026/ico/favicon.ico" /-->
<!-- link rel="apple-touch-icon" sizes="180x180" href="/2026/ico/apple-touch-icon.png" /-->
<!-- link rel="manifest" href="/2026/ico/site.webmanifest" /-->

<!-- end custom head snippets -->
